version: '3'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=1
      - SECRET_KEY=${SECRET_KEY}
      - MONGO_URI=mongodb://mongo:27017/number_nest?tls=false  # Override to local for simulation; comment out to use .env cloud URI
    depends_on:
      - mongo
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M  # Low limits to enhance simulation

  frontend:
    build: ./frontend
    ports:
      - "3000:80"

  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_DATABASE: number_nest
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: